{% extends "basemain.html"%}
{% load static %}
{% block title %}REPORTS{% endblock title %}
{% block link %} 
    <!----======== CSS ======== -->
    <link rel="stylesheet" type = "text/css" href="{% static '/css/style10.css' %}">
    <link rel="icon" type = "images/x-icon" href="{% static '/images/logo.png' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    {% if messages %}
    {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
    {% endfor %}
    {% endif %}
{% endblock link %}

{% block content1 %}
<div class="center">
    <form action="/ded_reports" method = "post" id="form_submit" autocomplete="off">
    {% csrf_token %}
    <h1>Deduction Reports</h1>
        <div class="inputbox">
            <select class="select" name="payyear1" id="payyear1">
                <option value="EMPTY">YEAR</option>
                {% for year in year %}
                <option value="{{year.0}}" >{{year.0}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="inputbox">
            <select class="select" name="paymonth1" id="paymonth1">
                <option value="EMPTY">MONTH</option>
                {% for i in month %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="inputbox">
            <select class="select" name="dedtype" id="dedtype">
                <option value="EMPTY">DEDUCTION TYPE</option>
                {% for dedtype in dedtype %}
                <option value="{{dedtype.0}}">{{dedtype.0}}</option>
                {% endfor %}
            </select>
        </div>
      <div class="inputbox">
        <input type="button" value="Export" onclick="ded_submit()">
      </div>
    </form>
    
  </div>
  <script type = "text/javascript" src="{% static '/js/script12.js' %}"></script> 

{% endblock content1 %}